:root{
  --light: #d2d3d3;
  --mlight: #7D7F80;
  --mdark:#555759;
  --dark:#2d3032;
  --purple:#6f63ad;
  --contrast:#9615db;
}

h1, h2, h3, h4, h5, h6, p, a, b, th, li {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.error-message{
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width:auto;
  height: auto;
  text-align: center;
}

.content{
  margin-top: -5.5rem;
}