.form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    left:25%;
    top: 25%;
    padding: 1rem;
}

.submit{
    cursor: pointer;
    border: none;
    border-radius: 3rem;
    background-color: var(--light);
}

.submit:hover{
    color: var(--contrast);
}