.picture_text_section_left, .picture_text_section_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mlight);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 2rem;
}

  
.picture_text_section_right {
  flex-direction: row-reverse;
}

.grey_image_container, .image_container {
  flex: 1;
  max-width: 50%;
}
.grey_image_container{
  filter: grayscale(100%)
}
.image_container img, .grey_image_container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
  
.text_container {
  flex: 1;
  padding: 0 2rem;
}
  
.text_container h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--light);
}
  
.text_container p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--light);
}
  