.picture_text_section_left, .picture_text_section_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url('../components/bilder/Polygon Luminary.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 6rem;
}

  
.picture_text_section_right {
  flex-direction: row-reverse;
}

.image_container {
  flex: 1;
  max-width: 50%;
}
  
.image_container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
  
.text_container {
  flex: 1;
  padding: 0 2rem;
}
  
.text_container h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--light);
}
  
.text_container p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--light);
}
  