@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.sidebar {
  z-index: 1;
  position: inherit;
  top:50px;
  left: -25%;
  height: 100vh;
  width: 25%;
  background-color: #f1f1f1;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.visible {
  width: 25%;
  left: 0;
}


.input-sidebar[type='text'] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin: 1rem;
}

.category-list li {
  padding: 0.5rem;
  margin-top: 0.3rem;
  background-color: #ddd;
  border-radius: 4px;
}