.button {
    background-color: red;
    border: none;
    outline: none;
    cursor: pointer;
}

.on {
  color: #000;
  z-index: 2;
}
.off {
  color: #ccc;
  background-color: transparent;
  z-index: 2;
}