.on {
  border-radius: 10px;
  overflow: hidden;
  color: var(--yellow);
  border: none;
  background-color: transparent;
}
.off {
  border-radius: 10px;
  overflow: hidden;
  color: white;
  border: none;
  background-color: transparent;
}

.on,.off {
  transform: scale(1.5)
}

.on:focus,
.off:focus {
  border: none;
  outline: none;
}

.on:active,
.off:active {
  border: none;
  outline: none;
}