.on {
  border-radius: 10px;
  overflow: hidden;
  color: var(--contrast);
  border: none;
  background-color: transparent;
}
.off {
  border-radius: 10px;
  overflow: hidden;
  color: white;
  border: none;
  background-color: transparent;
}

.on,.off {
  transform: scale(1.5)
}