.browse_page3{
  overflow: hidden;
  background-color: var(--light);
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  border-color: black;
  overflow-wrap: row;
}

.sidebar3{
  overflow: hidden;
  grid-area: 3 / 1 / 8 / 3;
  background-image: linear-gradient(rgba(255, 228, 196, 0) 0%, VAR(--dark) 10%);
  text-align: left;
  border-style: none none solid none;
  border-color: var(--dark);
  z-index: 1;
}
.sidebar_container{
  padding-top: 4rem;
}
.sidebar3 h1{
  text-align: center;
  color:var(--light)
}
.filter3{
  overflow: hidden;
  grid-area: 3 / 3 / 4 / 8;
  display:flex;
  background-image: linear-gradient(rgba(255, 228, 196, 0) 0%, VAR(--dark) 50%);
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.filter3 > h3{
  padding-top: 50px;
  color:var(--light)
}
.filter3 > h2{
  font-size: 1.75rem;
  padding-top: 50px;
  color:var(--light)
}
.filters{
  padding-top: 50px;
  display: flex;
  position: relative;
  min-width: 25%;
  justify-content: space-between;
}
.titles3{
  border-color: rgb(0,27,59);
  display: flex;
  justify-content: space-evenly;
}

.course_search_bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* Full height */
  min-height: 100%;
  filter: grayscale(50%);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: 1 / 1 / 3 / 8;
  justify-content: center;
  align-content: center;
  z-index: 2;
}
.background {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url("../components/images/bok1.jpg");
  /* Full height */
  min-height: 100%;
  filter: grayscale(80%);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: 1 / 1 / 4 / 8;
  justify-content: center;
  align-content: center;
}

.csb {
  position: absolute;
  top:50%;
  left: 25%;
  display: flex;
  min-height: 25%;
  width: 50%;
  font-size: 1.2rem;
  text-align: left;
  text-indent: 3%;
  border-radius: 1000px;
  z-index: 2;
}

.icon{
  position: absolute;
  top: 58%;
  left: 72%;
  transform: scale(1.5);
  z-index: 5;
}

.on_li {
  position: relative;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  /*List elementen lägger sig fel beroende på hur många element som matchar sökningen*/
  top: 43%;
  left: -2.2%;
  width: 40%;
  opacity: 1;
  border-radius: 0 0 1rem 1rem;
  overflow-y: scroll;
  height: 100px;
  z-index: 200; /* added */

}

.off_li {
  display: none;
}

.on_li li,
.off_li li {
  list-style: none;
  cursor: pointer;
  padding-left: 1rem;
  z-index: 400;
}

.on_li li:hover {
  color: #616467;
}

.exam_square{
  grid-area: 4 / 3 / 8 / 8;
  flex-grow: 1;
  height: 520px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  border-style: solid none none solid;
  border-color: var(--dark);
}

.clickable_card{
  cursor: pointer;
}

.categoryButton{
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  letter-spacing: 2px;
  outline-color: transparent;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: left;
  margin: 1%;
  color: var(--light);
  background-color: var(--mdark);
  height: fit-content;
  width:fit-content;
  justify-self: center;
}
.categoryButton:hover{
  color: var(--contrast);
}

.courseButton{
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  letter-spacing: 2px;
  outline-color: transparent;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 500;
  text-align: left;
  margin: 1%;
  color: var(--light);
  background-color: var(--mdark);
  height: fit-content;
  width:fit-content;
}
.courseButton:hover{
  color: var(--contrast);
}
  
  /* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}

.browse_option > select, option{
  background-color: transparent;
}

.browse_option{
  position: relative;
}

.browse_option select,.browse_option2 select {
  border-radius: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  /* Add some styling */
  display: block;
  min-width: 120%;
  max-width: 150%;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 1rem;
  font-size: 1rem;
  line-height: 1.75;
  color: var(--light);
  background-color: transparent;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
  background: var(--mlight);
  border: 1px solid black;
  transition: all 0.2s;
}

.browse_option select:focus{
  border-radius: 0;
}
.browse_option select:hover,.browse_option2 select:hover{
  background-color: var(--contrast);
}

/* Här under är .css för tenta-sidan */
.exam_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, var(--mdark), rgba(255,255,255,1) 100%);
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding-top: 6rem;
}

.exam_details h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.exam_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.exam_info p {
  font-size: 18px;
  margin: 5px 20px;
  padding: 5px;
  background-color: #e9e9e9;
  border-radius: 5px;
}

.back_button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.3s;
  position: sticky;
  align-self:flex-start;
}

.back_button:hover {
  background-color: #45a049;
}

.exam_details iframe {
  width: 70%;
  height:100vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.comments_wrapper {
  width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.next_prev_buttons{
  display: flex;
  grid-column: 3/8;
  justify-content: space-around;
}
.switch_page{
  border-style: none;
  background-color: transparent;
  color: var(--dark);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  margin: 1rem 3rem 0 3rem;
}
.switch_page:hover i{
  border-color: var(--contrast);
}
.hide_button{
  opacity: 0;
  pointer-events: none;
}
.arrow_right, .arrow_left {
  border: solid var(--mdark);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
}

.arrow_right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow_left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.switchButton{
  border: none;
  background-color: var(--mlight);
  color: var(--light);
  border-radius: 100px;
  position: relative;
  margin-top: 3rem;
  height: 50px;
}
.switchButton:hover{
  background-color: var(--contrast);
}
@media screen and (max-width: 768px) {
  .csb{
    min-height: 15%;
  }
  .filter3{
    padding: 30;;
  }
  .filter3 h3{
    position: relative;
    font-size: 1rem;
    left: 30%;
  }
  .filter3 h2{
    position: relative;
    font-size: 1rem;
    left: 17.5%;
  }
  .browse_option{
    padding-top: 40%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .browse_option2{
    padding-top: 65%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .on_li{
    top: 24.4%;
    left:-1%;
  }
  .icon{
    top: 55%;
    left: 68%;
    transform: scale(1.5);
  }
}
