.browse-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .exam-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: 20px 0;
  }
  
  .exam-details button {
    align-self: flex-start;
    margin-bottom: 20px;
  }
  
  .exam-details p {
    margin-bottom: 10px;
  }
  
  .exam-file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .exam-file a {
    text-decoration: none;
    color: white;
  }
  
  .error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: 20px 0;
  }
  
  .error-message h3 {
    margin-bottom: 20px;
  }
  
  .error-message a {
    color: #4caf50;
    text-decoration: none;
  }
  