
.accepted_button {
    min-width: 200px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .accepted_button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(200px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .accepted_button:hover, .accepted_button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .accepted_button:hover::before, .accepted_button:focus::before {
    opacity: 1;
  }
  
  .accepted_button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .denied_button {
    margin: 30px;
    min-width: 200px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #de3636;
    background: linear-gradient(90deg, rgb(225, 104, 104, .64) 0%, rgb(212, 78, 78, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(212, 78, 78, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .denied_button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(200px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #ed1d1dd7;
    box-shadow: 0 0 60px rgba(212, 78, 78, .64) ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .denied_button:hover, .denied_button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .denied_button:hover::before, .denied_button:focus::before {
    opacity: 1;
  }
  
  .denied_button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .denied_button:hover::after, .denied_button:focus::after {
    animation: none;
    display: none;
  }

.container_review {
    border-radius: 0;
    height: 100vh;
    background-image: linear-gradient(var(--mdark),var(--light));
    padding-top: 5.5rem;
}
.third_left{
    float:left;        
    width:33.33%;
    height:280px;
}
.third_mid{ 
    float:left;        
    width:33.33%;
    height:280px;
    text-align: center;
}
.third_right{
    float:right;        
    width:33.33%;
    height:280px; 
}
.pdf_review{
    border-radius: 20px;
    width:100%;
    height:100vh;
}
.reviewform {
  background: rgba(255, 254, 254, 0.682);
  padding: 1em;
  display: inline-block;
  height: 100vh - 50px;
  width:fit-content;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-top: 1px solid (255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.buttons{
    display: inline-block;
}
p {
    font-weight: 500;
    color: #000000;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
  
.review {
    background: #ffffffa0;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.review:hover {
      background: rgba(255,255,255,0.1);
      box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}
     
.review[type="text"] {
      font-size: 1rem;
      border-radius: 10px;
} 

.review:active {
    background: rgba(255,255,255,0.2);
      }

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

